# Dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
docker-compose.override.yml

# Build output
/dist
/build
/out
/.next/

# Misc
.DS_Store
*.pem
*.swp

# GitHub Actions
.github/

# Logs de CI/CD
ci-logs/

package-lock.json 
backend/uploads/avatars/avatar-1751428955883-198502738.png

backend/uploads/images-1751429294186.png

backend/uploads/avatars/avatar-1751428955882-860893154.png

backend/uploads/news/news-1751429426493-236706111.jpg

*.jpg

*.png
